npm-debug.log
/node_modules
sftp-config.json
jsconfig.json
public/src/nodebb.min.js
!src/views/config.json
public/css/*.css
*.sublime-project
*.sublime-workspace
.project
*.swp
Vagrantfile
.vagrant
provision.sh
*.komodoproject
.DS_Store
feeds/recent.rss
.eslintcache

build

logs/

pidfile

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml

## Directory-based project format:
.idea/
.vscode/

## File-based project format:
*.ipr
*.iws

## Transifex
tx.exe
.transifexrc

##Coverage output
coverage
